.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 350px;
}

.inputPassword {
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 48px 16px 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #121417;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.inputPassword:focus {
  border-color: #f4c550;
}

.eyeBtn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  fill: none;
  stroke-width: 2px;
  stroke: #121417;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  fill: none;
  stroke-width: 2px;
  stroke: red;
}
