.toastContainet {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #f5f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 320px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 12px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.toastContainet.show {
  opacity: 1;
  transform: translateY(0);
}

.toastText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}

.toastContainet.info {
  background-color: #0b86d7;
}

.toastContainet.success {
  background-color: #048d3d;
}

.toastContainet.error {
  background-color: #d91e09;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}
